In [1]:
x = [[0], [1]]
print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [5]:
x = [[0], [1]]
x = map(str, x)
x = list(x)
x

['[0]', '[1]']

In [8]:
print("Hello {0[0]} and {0[1]}".format(('foo', 'bin')))

Hello foo and bin

In [9]:
round(4.476)

4

In [46]:
z=set('abc$de')
'a' in z

True

In [82]:
print('*', "abcde".center(9),'*', sep='')

*  abcde  *

In [84]:
a = "sam"
b="mas"
print(a*b)

TypeError: can't multiply sequence by non-int of type 'str'

In [85]:
def f(x):
    def f1(*args, **kwargs):
        print("*"* 5)        
        x(*args, **kwargs)
        print("*"* 5)
    return f1
def a(x):
    def f1(*args, **kwargs):
        print("%"* 5)        
        x(*args, **kwargs)
        print("%"* 5)
    return f1
@f #p = f(p)
@a #p = a(p)
def p(m):
    print(m)
p("hello")

*****
%%%%%
hello
%%%%%
*****

In [23]:
#RE
import re

with(open('read.txt','r')) as fh:
    for line in fh.readlines():
        res = re.search(r'(.*)(#)(\d+)',line)
        print(res)
        if res:
            print(res.group(3))

<re.Match object; span=(0, 16), match='asagaknsbk#63565'>
63565
<re.Match object; span=(0, 16), match='jhajhdsakj#31287'>
31287
<re.Match object; span=(0, 16), match='dfjkssjadf#34890'>
34890

In [32]:
import re

S = input("Enter a URL")
res = re.search(r'.*\.(.*)\..*', S)
if res:
    print(res.group(1))
else:
    pirnt("No match")

Enter a URL www.sam.com

sam

In [48]:
import re

S = input("Enter a URL")
p = re.compile(r'.*\.(.*)\..*')
res = p.search(S)
if res:
    print(res.group(1))
else:
    pirnt("No match")

Enter a URL www.sam.com

sam

In [57]:
text = "Hi guys iam Sam Raj from kjkak and here is my frnd named Jana Rdhanan from ghikah used for extracting and sont know wat to say"
import re

p = re.compile(r'\b[A-Z][a-z]+\s[A-Z][a-z]+\b')
for i in p.finditer(text):
    print(i.group(0))

Sam Raj
Jana Rdhanan

In [64]:
text = "Hi guys iam Sam Raj from sam@gmail.com and here is my frnd named Jana Rdhanan from rhanan@gmail.net used for extracting and sont know wat to say"
import re

p = re.compile(r'\b([\w]+@.*?\.(com|net))\b')     # '?' - prevents the 
for i in p.finditer(text):
    print(i.group(1))

sam@gmail.com
rhanan@gmail.net

In [74]:
#example for non greedy match

s1 = input("Enter a string: ")
res = re.search(r'.*?\.(.*?)\.(.*)',s1)
if res:
    print(res.group(1))

Enter a string:  www.sam.co.in

sam

In [ ]:
def is_prime(num):
    for n in range(2,(num//2)+1):

In [86]:
names = ['sam','pat','bob']
age = [2,5,8]
D = {x:y for x,y in zip(names, age)}
D

{'sam': 2, 'pat': 5, 'bob': 8}

In [87]:
x=10
y=9
print(x,y)

10 9

In [90]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))
print(q)

True
[['def'], ['abc']]

In [92]:
x=56.236
print("%.2f"%x)



# The expression shown above rounds off the given number to the number of decimal places specified

56.24

In [96]:
#sir's logic

a = [0,1,2,3]
for x in a:         
    a[-1] = x
    print(a[-1])

0
1
2
2

In [97]:
4 + 3 % 5

7

In [98]:
print('1'.isdigit())

True

In [103]:
print("HelloWorld".capitalize())      #istitle()

Helloworld

In [117]:
print('''fooo'''.lstrip('fo'))

In [118]:
ch = ord('1')
ch

49

In [123]:
print('janana'.replace('j','b'))
S = 'janana'
print(S.replace(S[0],'b'))

banana
banana

In [125]:
x = 'cd'.partition('cd')  #atleast 3 partitions
type(x)
print(x)

('', 'cd', '')

In [127]:
print('abcdjashcdaskjl;kcdkjsa'.split('cd'))

['ab', 'jash', 'askjl;k', 'kjsa']

In [131]:
print('abcdjashcdaskjl;kcdkjsa'.split('cd'))

['ab', 'jash', 'askjl;k', 'kjsa']

In [137]:
print('abc'.translate({97:49,98:50,99:51}))

123

In [139]:
print(‘”Once upon a time…”, she said.’)

SyntaxError: invalid character '‘' (U+2018) (2429458311.py, line 1)

In [147]:
print(0.1 + 0.2)

0.30000000000000004