In [101]:
d = {'name': 'alice', 'age': 6, 'class': 'first', 'school': 'velammal', 'rank': 1}

val = d.pop('age')

In [12]:
print(val)

6

In [13]:
print(d)

{'name': 'alice', 'class': 'first', 'school': 'velammal', 'rank': 1}

In [14]:
#SETDEFAULT

help(dict.setdefault)

Help on method_descriptor:

setdefault(self, key, default=None, /) unbound builtins.dict method
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [15]:
Ans = d.setdefault('lname','tom')

print(Ans)
print(d)

tom
{'name': 'alice', 'class': 'first', 'school': 'velammal', 'rank': 1, 'lname': 'tom'}

In [16]:
Ans = d.setdefault('name', 'gugugaga') #name is already a existing key so it returns 'alice'(value of 'name') and ignores 'gugugaga'

print(Ans)
print(d)

alice
{'name': 'alice', 'class': 'first', 'school': 'velammal', 'rank': 1, 'lname': 'tom'}

In [18]:
#convert a list to dictionary

LoT = [('school', 'sboa'),('rank', 20), ('name', 'sam')] # non dictionary (list of tuples)
d1 = dict(LoT)
print(d1)

{'school': 'sboa', 'rank': 20, 'name': 'sam'}

In [22]:
# zip - takes 2 lists as arguments and returns a zip object
#       zip can be type casted to a list or dictionary

attributes = ['name','species', 'HasTail']
values = ['Jimmy', 'Dog', 'No']

D = dict(zip(attributes,values))
L = list(zip(attributes,values))


print(D)
print(L)

{'name': 'Jimmy', 'species': 'Dog', 'HasTail': 'No'}
[('name', 'Jimmy'), ('species', 'Dog'), ('HasTail', 'No')]

In [45]:
#Nested Dictionary
s1 = "name,species,HasTail\nJimmy,Dog,No\nTom,cat,Yes\nPasu,Cow,Yes"
DMain = {}
info = s1.split("\n")
#print(info)
l1=[]
for element in info:
    l1.append(element.split(","))
print(l1)
l2=['s1','s2','s3']


for i in range(1,4):
    D = dict(zip((l1[0]),l1[i]))
    DMain.setdefault(l2[i-1],D)
    #DMain=dict(zip(l2[i-1],D))
    #print(D)
print(DMain)

[['name', 'species', 'HasTail'], ['Jimmy', 'Dog', 'No'], ['Tom', 'cat', 'Yes'], ['Pasu', 'Cow', 'Yes']]
{'s1': {'name': 'Jimmy', 'species': 'Dog', 'HasTail': 'No'}, 's2': {'name': 'Tom', 'species': 'cat', 'HasTail': 'Yes'}, 's3': {'name': 'Pasu', 'species': 'Cow', 'HasTail': 'Yes'}}

In [57]:
s1 = "name,species,HasTail\nJimmy,Dog,No\nTom,cat,Yes\nPasu,Cow,Yes"

data=s1.split("\n")

d1 = {}
head = data[0].split(",")
print(head)

['name', 'species', 'HasTail']

In [58]:
c = 1
for d in data[1:]:
    v=d.split(',')
    d2=dict(zip(head,v))
    key = f's{c}'
    d1.setdefault(key,d2)
    c+=1
print(d1)

{'s1': {'name': 'Jimmy', 'species': 'Dog', 'HasTail': 'No'}, 's2': {'name': 'Tom', 'species': 'cat', 'HasTail': 'Yes'}, 's3': {'name': 'Pasu', 'species': 'Cow', 'HasTail': 'Yes'}}

In [89]:
# set - removes duplicate values in the list
#       set is unordered
dupe = [1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,4,5,6,7,8,9]
sett = set(dupe)

print(type(sett))
print(sett)
#print(sett[0]) - TypeError: 'set' object is not subscriptable

<class 'set'>
{1, 2, 4, 5, 6, 7, 8, 9}

In [90]:
if 3 in sett:
    print("present")
else:
    print("Not present")

Not present

In [91]:
#adding elements to set

print(sett)
sett.add(3)
print(sett)
sett.add(2)
print(sett)

{1, 2, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
#removing elements from set
#       pop
#       remove
#       discard

popped = sett.pop() #first element is popped
print(popped)
print(sett)

1
{2, 3, 4, 5, 6, 7, 8, 9}

In [93]:
sett.remove(3)
sett

{2, 4, 5, 6, 7, 8, 9}

In [120]:
# union(|), intersection(&) in sett

s1 = {2,4,5,6}
s2 = {1,4,6,7,8,9}

s3 = s1.union(s2) # s1 | s2
print(f"union of s1 and s2 {s3}")
s4 = s1.intersection(s2) # s1 & s2
print(f"intersection of s1 and s2 {s4}")

union of s1 and s2 {1, 2, 4, 5, 6, 7, 8, 9}
intersection of s1 and s2 {4, 6}

In [121]:
lis = [[2,3,4,6,8],[1,2,4,6,9],[3,4,5,6,7],[2,5,6,8,9]]

L=[]
for i in range(3):
    set1 = set(lis[i])
    set2 = set(lis[i+1])
    L.append(set1.intersection(set2))
    
print(L)

[{2, 4, 6}, {4, 6}, {5, 6}]

In [122]:
#PROBLEM

lis = [set(x) for x in lis]
c = lis[0]
for k in lis[1:]:
    c = c & k
print(c)

{6}

In [131]:
def Helloo(n):
    """doc is used"""
    print("Hello guys")
    print(f"hi da {n} uh")

Helloo("Shreenath")
#Helloo() - Helloo() missing 1 required positional argument: 'n'

Hello guys
hi da Shreenath uh

In [132]:
print(Helloo.__doc__)

doc is used

In [140]:
#user defined function with default parameter if not mentioned

def interest(p,n,r=12): # 'r' is the default parameter, as it has been defined in function definition
    return (p*n*r)/100
    
r1 = interest(100,2)
r2 = interest(100,2,24)
print(r1,r2)

24.0 48.0

In [142]:
def display(name,age):
    print(f"Name:{name}")
    print(f"Age:{age}")

display(13, 'bob')
display(age = 22, name = 'sam')

Name:13
Age:bob
Name:sam
Age:22

In [145]:
#a,b = 1,2,3,4,5,6 - ValueError: too many values to unpack (expected 2)

a,b,*c = [10,20,30,40,50,60,70,80]
print(a)
print(b)
print(c)

10
20
[30, 40, 50, 60, 70, 80]

In [150]:
def find_max(*args):
    print(type(args))
    print(args)

#def find_max(*args, *k): - SyntaxError: * argument may appear only once
#    print("hi")

In [151]:
find_max()

<class 'tuple'>
()

In [152]:
find_max(8,99,34,2,1,34,56,76,879,2,3,1,2,13,34,5,45)

<class 'tuple'>
(8, 99, 34, 2, 1, 34, 56, 76, 879, 2, 3, 1, 2, 13, 34, 5, 45)

In [154]:
#variable length key and value pair
def display(**kwargs):
    print(kwargs) #kwargs treated as dictionary
display(name = 'bobby', age = 30, lname = 'simha')

{'name': 'bobby', 'age': 30, 'lname': 'simha'}

In [165]:
#pass by value
#pass by reference
# changes made inside a function is visible for mutable object if the reference is not modified


def changeVal(thelist):
    thelist = [20,40,50]
    print("reference of the list:", id(thelist))
    print("inside the function:", thelist)

myList = [1,2,3]
print("reference of myList:", id(myList))
changeVal(myList) #fuction call
print("Outside the function",myList)
#print(thelist) - NameError: name 'thelist' is not defined

reference of myList: 1771386177856
reference of the list: 1771386187008
inside the function: [20, 40, 50]
Outside the function [1, 2, 3]

In [166]:
def change(some):
    some = "Welcome"
    print("reference to s1:", id(s1))
    print("inside the function", some)

s1 = "hi python"
print("reference of s1:", id(s1))
change(s1)
print("outside the function:", s1)

reference of s1: 1771386149808
reference to s1: 1771386149808
inside the function Welcome
outside the function: hi python

In [167]:
#comprehensions
# shorter syntax to generate a list from an existing list

fruits = ["appl", "banan", "mang", "kiw"]

new = []

for i in fruits:
    if 'a' in i:
        new.append(i)

print(new)

['appl', 'banan', 'mang']

In [169]:
new = [f for f in fruits if 'a' in f]
new

['appl', 'banan', 'mang']

In [171]:
without_appl = [f for f in fruits if f != 'appl']
without_appl

['banan', 'mang', 'kiw']

In [172]:
x=5
res = [x for f in fruits if f != 'apple' ]
res

[5, 5, 5, 5]

In [1]:
num = [x**3 for x in range(50)]
num

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649]

In [3]:
s1 = "hello"
s2 = [x for x in s1 if x=='a' or x =='e' or x=='i' or x=='o' or x=='u']
print(s2)

['e', 'o']

In [4]:
l2 = [i for i in range(100,501) if i%6==0]
print(l2)

[102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360, 366, 372, 378, 384, 390, 396, 402, 408, 414, 420, 426, 432, 438, 444, 450, 456, 462, 468, 474, 480, 486, 492, 498]

In [6]:
#set comprehension

str = 'afhfuhaofhaohfa'
sett = {x for x in str}
sett

{'a', 'f', 'h', 'o', 'u'}

In [7]:
#set comprehension

l6 = ['a','b','c','d']
val = [1,2,3,4]
d1 = {x:y for x,y in zip(l6,val)}
d1

#enumerate - fetches index and value from a list

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
#Function reference -- function name returns function reference
#                      function reference can be assigned to a variable and function can be called through that variables 

def square(x):
    return x*x
square(5)

25

In [11]:
print(square) #hexadecimal value

<function square at 0x000001C6D5499D00>

In [12]:
#lambda- used for creating anonymous function
#        returns function reference
#syntax:
#lambda p1,p2,p3... : body of lambda funtion
#last evaluated expression is automatically returned

In [13]:
g = lambda x: x*x

In [14]:
print(g)

<function <lambda> at 0x000001C6D549A160>

In [15]:
#filter - takes 2 parameters
#        1st parameter is a function reference. The function should return true/false
#        2nd parameter is a sequence/sequences
#        takes one element from the sequence and passes it to the function referred in 1st parameter
#        if the 1st parameter (i.e function returns true) the element is added to filter object
#        filter object is type casted to a list

In [21]:
#filter to return list of numbers divisible by 6

In [22]:
num = [x for x in range(200)]
num

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]

In [41]:
def div_b_6(x):
    return x%6==0 # returns true or false

In [42]:
newL = list(filter(div_b_6, num)) #filter(true or false,list) iterates through list
newL

[0]

In [43]:
numBy6 = list(filter(lambda x: x%6==0,num))

In [44]:
numBy6

[0]

In [45]:
num = [x for x in range(4)]
#num = [0,1,2,3]
res = list(filter(lambda x: x*x,num))
#0 is false and rest is added
print(res)

[1, 2, 3]

In [46]:
#map - Take 2 parameter
#      1st parameter is the function reference
#      2nd parameter is a sequence or sequences
#      passes the element from sequence to function (referred in 1st parameter)
#      return value of function is added to map object
#      map object can be type casted to a list

In [47]:
num = [x for x in range(4)]

res = list(map(lambda x: x*x,num))
res

[0, 1, 4, 9]

In [48]:
sqOfNum = list(map(lambda x: x*x, [x for x in range(50)]))
sqOfNum

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [49]:
#reduce - converts a sequenc to a single value
#it is moved to functools from python 3
#from functools import reduce

In [56]:
from functools import reduce

total = reduce(lambda x,y: x*y, [x for x in range(1,20)])

print([x for x in range(20)])
total

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

121645100408832000

In [66]:
#scope of a variable
#local and global variable
#any variable declared will have global scope
#variable declared inside a function will have local scope
#to create a global variable from within a function used the 'global' keyword

x=20 # x in GLOBAL SCOPE

def f():
    y=10
    global z
    z=15
    print("inside x: ", x)
    print("inside y: ", y)
    print("inside z: ", z)


f()
print("inside z: ", z)
print("outside x: ",x)
#print("in ", y) -- NameError: name 'y' is not defined -- not in scope -- only within the function

inside x:  20
inside y:  10
inside z:  15
inside z:  15
outside x:  20

#COMING UP NEXT.... ITERATOR, GENERATOR, DECORATOR

Problem 14: days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}
        For this problem, use the dictionary above
        whose keys are month names and whose values are the number 
        of days in the corresponding months.
        Ask the user to enter a month name and use the dictionary to tell them how many days are in the month.
        Print out all of the keys in alphabetical order.
        Print out all of the months with 31 days.
        Print out the (key-value) pairs sorted by the number of days in each month
        Modify the program from part (a) and the dictionary so that the user does not 
        have to know how to spell the month name exactly. That is, 
        all they have to do is spell the first three letters of the month name correctly.

In [68]:
days = {'January':31, 'February':28, 'March':31, 'April':30,
        'May':31, 'June':30, 'July':31, 'August':31,
        'September':30, 'October':31, 'November':30, 'December':31}

month = input("Enter the month")

if month in days:
    print(days[month])
else:
    print("there is no such month")

Enter the month January

31

In [69]:

for i in days:
    if days[i] == 31:
        print(i)

January
March
May
July
August
October
December

In [78]:
D=[{'name':'Todd', 'phone':'555-1414', 'email':'todd@mail.net'},
            {'name':'Helga', 'phone':'555-1618', 'email':'helga@mail.net'},
            {'name':'Princess', 'phone':'555-3141', 'email':''},
            {'name':'LJ', 'phone':'555-2718', 'email':'lj@mail.net'}]
print("Last number is 8: ")
for i in D:
    o = i['phone']
    if o[-1] == '8':
        print(i['name'])

print("Without email: ")
for i in D:
    if i['email'] == '':
        print(i['name'])

Last number is 8:
Helga
LJ
Without email:
Princess

Problem 16: Write a program that gets a string from the user containing a potential telephone number.
The program should print Valid if it decides the phone number is a real phone number, and Invalid otherwise. 
A phone number is considered valid as long as it is written in the form abc-def-hijk or 1-abc-def-hijk. 
The dashes must be included, the phone number should contain only numbers and dashes, 
and the number of digits in each group must be correct.

In [82]:
number = input("Enter the number: ")
print(number)

Enter the number:  asjcjasn

asjcjasn

In [86]:
points = {'A':1, 'B':3, 'C':3, 'D':2, 'E':1, 'F':4, 'G':2,
          'H':4, 'I':1, 'J':8, 'K':5, 'L':1, 'M':3, 'N':1,
          'O':1, 'P':3, 'Q':10, 'R':1, 'S':1, 'T':1, 'U':1,
          'V':4, 'W':4, 'X':8, 'Y':4, 'Z':10}
total =0

word = input("Enter the word")

for i in word:
    store = i.upper()
    total = total+points[store]

print(total)

Enter the word hhhhhhhhhhh

44

In [90]:
f = input() 
if f[::-1] == f:
    print("pali")
else:
    print("not pali")

 123fds

not pali