In [6]:
list1 = [1,"we", 99.33, 7,9,3,2,1,5, True]

for i in list1:
    print(i)

#id is same for strings but not for lists

s1 = "helooworld"
s2 = s1[:]
print(id(s1))
print(id(s2))

1
we
99.33
7
9
3
2
1
5
True
2239560704368
2239560704368

In [7]:
#id is same for strings but not for lists

list2 = list1[:]
print(id(list1) == id(list2))

False

In [8]:
l1 = [1,2,3]
l2 = ['a', 'b', 'c']

print(l1+l2)

[1, 2, 3, 'a', 'b', 'c']

In [9]:
l3 = l2*3
print(l3)
l3 = l1*3
print(l3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
l3 = ['Nan', 'than', 'da', 'leo..', 'leo', 'das']
str=""
for i in l3:
    str+=i
print(str)

#
print(",,".join(l3))

print(" ".join(l3))

Nanthandaleo..leodas
Nan,,than,,da,,leo..,,leo,,das
Nan than da leo.. leo das

In [49]:
list1 = [1,"we", 99.33, 7,9,3,2,1,5, True]

joined = " ".join([str(x) for x in list1])

ModuleNotFoundError: No module named 'str'

In [36]:
l3 = ['Nan', 'than', 'da', 'leo..', 'leo', 'das']

l4 = l3 #same object

print(id(l3))
print(id(l4))
#same id same object

l4[-1] = 'boss'
print(l3)
print(l4)

2239567132096
2239567132096
['Nan', 'than', 'da', 'leo..', 'leo', 'boss']
['Nan', 'than', 'da', 'leo..', 'leo', 'boss']

In [37]:
l3 = ['Nan', 'than', 'da', 'leo..', 'leo', 'das']

l4 = l3[:] #Different object

print(id(l3))
print(id(l4))
#different id different object


l4[-1] = 'boss'
print(l3)
print(l4)

2239567259264
2239567340416
['Nan', 'than', 'da', 'leo..', 'leo', 'das']
['Nan', 'than', 'da', 'leo..', 'leo', 'boss']

In [45]:
#shallow copy & deep copy (opposites)

l1 = [1,2,3,[99,99],5,6,7]
l2 = l1[:]

l1[3][1] = 100
print(l1)
print(l2)

l2[3][1] = 1000
print(l1)
print(l2)

l1[2] = 33
print(l1)
print(l2)

[1, 2, 3, [99, 100], 5, 6, 7]
[1, 2, 3, [99, 100], 5, 6, 7]
[1, 2, 3, [99, 1000], 5, 6, 7]
[1, 2, 3, [99, 1000], 5, 6, 7]
[1, 2, 33, [99, 1000], 5, 6, 7]
[1, 2, 3, [99, 1000], 5, 6, 7]

In [52]:
from copy import deepcopy

l1 = [1,2,3,[99,99],5,6,7]
l2 = deepcopy(l1)

print(id(l1))
print(id(l2))

l1[3][1] = 100
print(l1)
print(l2)

l2[3][1] = 1000
print(l1)
print(l2)

l1[2] = 33
print(l1)
print(l2)
#deep copy - both lists and inner elements will get different references

2239568161856
2239568123264
[1, 2, 3, [99, 100], 5, 6, 7]
[1, 2, 3, [99, 99], 5, 6, 7]
[1, 2, 3, [99, 100], 5, 6, 7]
[1, 2, 3, [99, 1000], 5, 6, 7]
[1, 2, 33, [99, 100], 5, 6, 7]
[1, 2, 3, [99, 1000], 5, 6, 7]

In [72]:
li1 = [1,2,3,4]
li1.extend([5,6,7]) # extends expects the parameter to be an sequence
print(len(li1))  # only iterable object can be used for extend method

7

In [75]:
li1 = [1,2,3,4]
li1.extend([5,6,7])
print(li1)

#li1.extend(8)  TypeError: 'int' object is not iterable
li1.extend("Hello")
print(li1)

li1.extend({1:"hi", 2:"hello", 3:"bye"})
print(li1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 'H', 'e', 'l', 'l', 'o']
[1, 2, 3, 4, 5, 6, 7, 'H', 'e', 'l', 'l', 'o', 1, 2, 3]

In [78]:
li1 = [1,2,3,4]
li1.insert(2,0) #2nd index value 0 (index, value to be inserted)
print(li1)
li1.insert(7,99) #99 gets added at the end of the list
print(li1)

[1, 2, 0, 3, 4]
[1, 2, 0, 3, 4, 99]

In [84]:
#methods to remove elements from list

#pop - removes the last element if called without any argument
li1 = [11,22,33,44]
print(f"length of the list is {len(li1)}")
x=li1.pop()
print(f"popped element: {x}")
print(f"length of the list is {len(li1)}")

#when the argument in the pop exceeds the index of the list then there will be a error 
#- IndexError: pop index out of range

length of the list is 4
popped element: 44
length of the list is 3

In [88]:
#remove - takes values as arguments and removes the first occurance of the element

li1 = [11,22,33,44,22]
li1.remove(22)
print(li1)

#if the value is not in the list.. then  - ValueError: list.remove.(x): x not in the list

[11, 33, 44, 22]

In [91]:
l1 = [1,2,3,4,5,5,3,5,2,5,7,5,3,45,5,3,3,4,6,5,5]

while 5 in l1:
    l1.remove(5)
    print(l1)

[1, 2, 3, 4, 5, 3, 5, 2, 5, 7, 5, 3, 45, 5, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 5, 2, 5, 7, 5, 3, 45, 5, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 2, 5, 7, 5, 3, 45, 5, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 2, 7, 5, 3, 45, 5, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 2, 7, 3, 45, 5, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 2, 7, 3, 45, 3, 3, 4, 6, 5, 5]
[1, 2, 3, 4, 3, 2, 7, 3, 45, 3, 3, 4, 6, 5]
[1, 2, 3, 4, 3, 2, 7, 3, 45, 3, 3, 4, 6]

In [94]:
l1 = [1,2,3,4,5,5,3,5,2,5,7,5,3,45,5,3,3,4,6,5,5]

while True:
    try:
        l1.remove(5)
    except ValueError:
        break
print(l1)

[1, 2, 3, 4, 3, 2, 7, 3, 45, 3, 3, 4, 6]

In [95]:
l1 = [1,2,3,4,5,5,3,5,2,5,7,5,3,45,5,3,3,4,6,5,5]
l1 = [x for x in l1 if x!= 5]
print(l1)

[1, 2, 3, 4, 3, 2, 7, 3, 45, 3, 3, 4, 6]

In [96]:
#Tuple element cannot be modified
#tuple can be override

t1 = 20, 'python', 'ruby', 'cpp' , 30
print(type(t1))
print(t1)

<class 'tuple'>
(20, 'python', 'ruby', 'cpp', 30)

In [99]:
t2 = (10,9,8,7,6,5,4)

print(min(t2))
print(max(t2))
print(sum(t2)/len(t2))
print(t2.index(7))

4
10
7.0
3

In [107]:
l1 = [2,4,6,8]
l2 = [3,5,10]

l1.extend(l2)
l1.sort()
print(l1)

i=0
x=0
for i in range(0,len(l1)-1):
    if not l1[i+1]-l1[i] == 1:
        x+=1
        break
if x == 0:
    print("sequence")
else:
    print("not sequence")

[2, 3, 4, 5, 6, 8, 10]
not sequence

In [108]:
l3 = [x for x in range(l1[0], l1[-1]+1)]
if l1 == l3:
    print("seq")
else:
    print("not seq")

not seq

In [112]:
li = [1,2,3,4,5,6,"word",77,44,77,33,22,"hi",23,12,43,45]
#li.sort() TypeError: '<' not supported between instances of 'str' and 'int'

In [111]:
new = []
for element in li:
    new.append(str(element))
print(new)

TypeError: 'str' object is not callable

In [113]:
li.sort(key=str)
print(li)

TypeError: 'str' object is not callable

In [114]:
li = [1,2,3,4,5,6,"word",77,44,77,33,22,"hi",23,12,43,45]

print(sorted([x for x in li if type(x) is int]))

[1, 2, 3, 4, 5, 6, 12, 22, 23, 33, 43, 44, 45, 77, 77]

In [115]:
bigg = [['kim', 45, 'bio'],['kar',33,'sci'],['ali', 20, 'geo'],['ram', 22, 'math']]
bigg.sort()
bigg

[['ali', 20, 'geo'],
 ['kar', 33, 'sci'],
 ['kim', 45, 'bio'],
 ['ram', 22, 'math']]

In [121]:
#sorting based on the function (particular element in a list)

def mark(x):
    return x[1]
def sub(x):
    return x[2]
bigg.sort(key = mark)
print(bigg)

bigg.sort(key = sub)
print(bigg)

[['ali', 20, 'geo'], ['ram', 22, 'math'], ['kar', 33, 'sci'], ['kim', 45, 'bio']]
[['kim', 45, 'bio'], ['ali', 20, 'geo'], ['ram', 22, 'math'], ['kar', 33, 'sci']]

In [122]:
#sort() is a list method, only used for lists
#sorted() is an inbuilt method which is used for the lists, tuples, dictionaries

In [125]:
# dictionary - created with {}
#              value can be any valid python object
#              key should be unique and immutable

d1 = {'name' : 'alice', 'age': 6 , 'class':'first', 'name': 'sam'}

print(d1)

{'name': 'sam', 'age': 6, 'class': 'first'}

In [126]:
#modify key

d1['age'] = 22 #dict[key] = Value
print(d1)

{'name': 'sam', 'age': 22, 'class': 'first'}

In [127]:
d1['lname'] = 'raj'
d1

{'name': 'sam', 'age': 22, 'class': 'first', 'lname': 'raj'}

In [130]:
#Dictionary concatenation

d1 = {'name' : 'alice', 'age': 6 , 'class':'first'}
d2 = {'school' : 'velammal', 'rank': 1}

'''for k in d2.keys():
       d1[k]=d2[k]'''
d1.update(d2) #internally, the above mentioned code happens
d1

{'name': 'alice', 'age': 6, 'class': 'first', 'school': 'velammal', 'rank': 1}

In [131]:
d1 = {'name' : 'alice', 'age': 6 , 'class':'first'}

d2 = [('school', 'sboa'),('rank', 20)] # non dictionary
#List of tuples of 2 elements

d1.update(d2)
print(d1)

{'name': 'alice', 'age': 6, 'class': 'first', 'school': 'sboa', 'rank': 20}

In [132]:
d1 = {'name' : 'alice', 'age': 6 , 'class':'first'}
d2 = {'school' : 'velammal', 'rank': 1}

d1 = {**d1, **d2}
print(d1)

{'name': 'alice', 'age': 6, 'class': 'first', 'school': 'velammal', 'rank': 1}

In [134]:
#iteration in dictionaries
for k,v in d1.items():
    print(f"{k}={v}")

name=alice
age=6
class=first
school=velammal
rank=1

In [136]:
for k in d1.keys():
    print(k,"=",d1[k])

name = alice
age = 6
class = first
school = velammal
rank = 1

In [139]:
#get method

print(d1.get('name'))
print(d1.get('class'))
print(d1.get('lname', 'pimbilikka')) #Default value

alice
first
pimbilikka

In [140]:
r= requests.get("https://reqres.in/api/users?page=2")
if r.

SyntaxError: invalid syntax (1791386551.py, line 2)

In [146]:
s1 = "{{}{{}}()}"
x = len(s1)
o1=0
o2=0
c1=0
c2=0
for i in range(x):
    if(s1[i] == '{'):
        o1+=1
    elif(s1[i] == '}'):
        c1+=1
    elif(s1[i] == '('):
        o2+=1
    elif(s1[i] == ')'):
        c2+=1

print(o1)
print(c1)
print(o2)
print(c2)

if o1==c1 and o2 == c2:
    print("balanced")
else:
    print("Not balanced")

4
4
1
1
balanced

In [153]:
s1 = "{{}{{{{}"
s=[]
d={'{':'}','[':']','(':')'}
for char in s1:
    if char in d:
        s.append(char)
    else:
        t=s.pop()
        if char != d[t]:
            print("not balanced")
            break
else:
    print("balanced")

balanced

In [ ]:
s1 = "{{}{{}}()}"
x = len(s1)

for i in range(x):
    for j in range(x-i)